# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
libs

# other
eclipse
run

# java
*.class
*.war
*.ear

# Temp
src/main/java/me/ichun/mods/ichunutil/old